<h1><%= @kitten.name %></h1>

<p>
  Name: <%= @kitten.name%>
  Age: <%= @kitten.age %><br>
  Cutenss: <%= @kitten.cuteness%>
  Softness: <%= @kitten.softness %>
</p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %> 
<%= link_to 'Delete', @kitten, method: :delete, data: { confirm: 'Are you sure? ARE YOU REALLY SURE WIPING THIS KITTEN FROM EXISTENCE?' } %> |
<%= link_to 'Back', kittens_path %>
